<div class="col-md-8 navbar-docs-push-down">
  <div class="panel panel-default-bg">
    <div class="panel-heading">
      <h2 class="page-header page-header-border-dark modernui-dark">
        <a href="/" class="hover-underline-none "><i class="icon-metro-arrow-left-3"></i></a> <span class="fa fa-list-alt"></span>
        {{ this.all_params.title }}
        {% if not(this.all_params.forAllCafe) %}
          - <font style="font-size: 28px;font-weight: 500;"><span class="title">294 RUE SAINTE-CATHERINE O,H2X 2A1.</span></font>
          <button type="button" class="btn btn-science-blue ch_cafe"><i class="fa fa-exchange"></i> Change to view Anticafe</button>         </h2>
        {% endif %}
      <div class="clearfix"></div>
    </div>
    {{ content|raw }}

  </div>
</div>
