<div class="text-center fg-white">
  <h1><img src="/img/logo_white.png" alt="logo" style="width:150px;top: 0px !important;"></h1>
  <h4 style="padding-bottom:0px !important;">294 RUE SAINTE-CATHERINE O,H2X 2A1</h4>
  <div class="height_header"></div>
</div>
<div class="start-screen-container" id="stop_scroll">
  <div class="row">
    <div class="col-md-6">
      <h4 class="tile-group-title">{{ t("main","System management") }}</h4>
      {% include 'main/manager.twig' %}
    </div>
    <div class="col-md-6">
      <h4 class="tile-group-title">{{ t("main","Visitors in Anticafe") }}</h4>
    </div>
  </div>
</div>